# Environment & secrets
.env
.env.*
!.env.example

# Node / NestJS
node_modules/
dist/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/
*.iml
*.ipr
*.iws
.idea/
.metadata
coverage/

# Android build
app/android/.gradle/
app/android/app/debug/
app/android/app/profile/
app/android/app/release/

# iOS
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Flutter.framework
app/ios/Flutter/Flutter.podspec
app/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
app/ios/Flutter/App.framework
app/ios/Flutter/Generated.xcconfig

# Web
web/node_modules/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
*.swp
*.swo
*~
